{% extends "base.html" %}

{% block title %}{% endblock title %}

{% block content %}

<div class="alert alert-success" role="alert" style="height: auto;">
    <h1 class="alert-heading">idoHackへようこそ</h1>
    <p>idoHackは、セキュリティ学習の新たな世界への入り口です。日本人向けに特化し、初心者でも手軽に始められる学習プラットフォームです。</p>
    <h3>セキュリティ学習サイトとしてのidoHackの特徴</h3>
    <ul>
	<li><b>初心者向けの学習体系: </b>セキュリティの世界に初めて足を踏み入れる方でも安心。基礎から始める学習プランが豊富に揃っています。</li>
	<li><b>基本無料:</b> お金を気にせずセキュリティの基礎を学べます。プレミアムコンテンツも用意していますが、idoHackの基本学習は誰でも無料で利用可能です。</li>
	<li><b>日本人向け:</b> idoHackは日本のユーザーに合わせて、分かりやすいコンテンツとサポートを提供。日本語での学習がしやすい環境を整えています。</li>
	<li><b>CTF形式の採用:</b>学んだことを実践する場として、常設のCapture The Flag（CTF）スタイルを導入。実践的な問題に挑戦しながらスキルを向上させましょう。</li>
    </ul>
    <p>idoHackは、セキュリティの世界での冒険をサポートし、学びながら成長できるプラットフォームです。</p>
    <p>安心して始められる初心者向け学習から、より高度なスキルの向上まで、idoHackがセキュリティ学習の新たなステージを提供します。</p>
    <p>さあ、セキュリティの扉を開いて、idoHackで新たな知識とスキルの冒険を始めましょう。</p>
    </p>
    <hr>
    <p class="mb-0">登録がお済でない方は画面右上「新規登録」から</p>
</div>


<h2>お知らせ</h2>
<table class="table" style="height: auto;">   
    <thead>
      <tr>
        <th scope="col">更新日時</th>
        <th scope="col">タイトル</th>
        <th scope="col">内容</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for infomation in  infomation_list%}
        {% if forloop.counter <= 5 %}
        <tr>
            <th scope="row">{{infomation.updated_at | date:"n/j H:i"}}</th>
            <td>{{infomation.title}}</td>
            <td>{{infomation.message | safe | linebreaksbr}}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
  </table>

{% endblock content %}


